<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKuZdBJlmIneyMNLp9BJhX2JF66QK5Wdg</string>
	<key>GCM_SENDER_ID</key>
	<string>646374909031</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.practica3</string>
	<key>PROJECT_ID</key>
	<string>comp5b-24-51fe6</string>
	<key>STORAGE_BUCKET</key>
	<string>comp5b-24-51fe6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:646374909031:ios:2415f0a1cbdeb67f3720c2</string>
</dict>
</plist>